* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reset-row, .reset-col, .reset-container {
    padding: 0;
    margin: 0;
}

.margin-fix {
    margin-bottom: 0!important;
}


.form-control:focus {
    box-shadow: none!important;
    border: none!important;
}
