@media (max-width: 768px) {
    #responsive-header-menu {
        display: block;
        padding: 3px 0;
    }

    #responsive-header-menu h3 {
        font-weight: 700;
    }

    .menuToggle {
        margin-left: 0 !important;
    }

    .contacts {
        z-index: 100;
        position: fixed;
        top: 0;
        width: 250px;
        margin-left: -250px;
        transition: all 0.3s ease;
    }

    .hamburger {
        margin-top: 10px;
    }

    .hamburger-bar {
        display: block;
        width: 25px;
        margin: 5px;
        border: 1px solid white;
    }

    .messages-container {
        margin-top: 118px;
    }

}
